$font-family: "Ubuntu", sans-serif;
$primary-color: #f6dec0;


@mixin header-flex{
    padding: 8px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

@mixin footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $primary-color;
    text-align: center;
    margin-top: 30px;
}