@use 'variables' as v;


@mixin header-flex{
    padding: 8px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

@mixin footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: v.$primary-color;
    text-align: center;
    margin-top: 30px;
}

@mixin breakpoint1{
    @media (max-width: 850px) {
        @content;
    }
}

@mixin breakpoint2{
    @media (max-width: 480px) {
        @content;
    }
}