@use 'variables' as v;
@use 'base' as b;

body{
    font-family: v.$font-family;
}

.header {
    background-color: v.$primary-color;
    padding: 20px;
    text-align: center;
    @include b.header-flex;
}

.header__logo {
    width: 150px;
}

.header__nav--a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    display: inline;
    padding: 0 10px;
}



.main__title {
    font-size: 50px;
    text-align: center;
    margin-top: 20px,; 
}

.main__text{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.section__cards{
    @include b.cards-grid;
    margin-top: 30px;
    margin-left: 110px;
    margin-right: 110px;
    
}

.card__image{
    width: 100%;
    
}

.footer {
    @include b.footer-flex;
 
    color: black;
}
.footer__socials--img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}